h1{
    text-align: center;
    color: #fffffe;
}

body {
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 32px;

    background-color: #16161a;
    color : #94a1b2;


}


button{
    background-color: #7f5af0;
    color: #fffffe;
}

.options{
    width : 200px;
    height: 200px;;
}

img{
    width: 150px;
    height: 150px;
}

.all-btns {
    display : flex;
    align-items: center;
}
